@charset "UTF-8";
/* aside */
.member-content-nav-container {
	width: 20%;
	border: 1px solid var(--color-grey);
	margin-top: 60px;
	padding: 10px 0 30px 30px;
	color:var(--color-black);
}
.member-content-nav-items-title {
	font-size:15px;
	font-weight: 600;
	margin: 15px 0 15px 0;
}
.member-content-nav-items-subtitle {
	font-size:12px;
	margin-left: 20px;
	margin-bottom: 10px;
}
#interest:hover {
	cursor:pointer;
}