@charset "UTF-8";
@import url("../main.css");

/*-------------------*/
.main-section-container{
   display:flex;
   justify-content: center;
}
.login-main-text {
    text-align: center;
    font-size: var(--font-size-h3);
    padding-bottom : 30px;
}
.login-id-box{
	padding: 5px;
    list-style:none;
}
.login-title{
    font-size: var(--font-size-h6);
    font-size: 18px;
}
.login-input-wrapper {
    margin-top: 15px;
}
.login-input {
    width: 300px;
    height:35px;
    border: 1.5px solid #dbd8ce;
    border-radius: 2px;
}
input:focus {
    outline:none;
    box-shadow: 0 0 0 1px #97989b;
}

.login-pw-box {
	padding: 5px;
    list-style:none;
}
.login-btn-wrapper {
    padding:5px;
    margin-top: 15px;
}
.login-btn-wrapper-input {
    height:40px;
    width:100%;
    padding: 5px;    
    background-color: #97989b;
    color: #f9f9f9;
    outline: 1px solid #c4c6c5;
    border-radius: 2px;
    border-style: none;
    font-size: 20px;
}
.login-btn-wrapper-input:hover {
	cursor:pointer;
} 
.login-find-contents {
    padding:15px 5px ;
}
.login-find-text{
    font-size: 15px;
    text-decoration: none;
    color:#3d3d3d;
}
.login-find-text-member {
	font-size: 15px;
    text-decoration: none;
    color:#3d3d3d;
    float:right;
}
.login-signup-wrapper {
    padding:10px;
}

.login-external-contents{ 
    width:100px;
}
.login-external-contents-gg {
    font-size:25px;
    text-decoration: none;
    color:#3d3d3d;
}
.login-external-contents-fb {
    font-size:25px;
    text-decoration: none;
    color:#3d3d3d;
}
.login-external-contents-gh {
    font-size:25px;
    text-decoration: none;
    color:#3d3d3d;
}
.result-divs {
    height:5px;
}