@charset "UTF-8";
@import url("../main.css");
@import url(member_header.css);
@import url(member_aside.css);

/* article */
.member-content-main-container {
  display: flex;
  justify-content: space-between;
}
.member-content-article-container {
  width: 80%;
  margin-top: 60px;
  padding-left: 50px;
}
.member-content-article-header {
  font: var(--font-kor);
  font-size: var(--font-size-h5);
  font-weight: bolder;
}

/* 구분선 */
.contour {
  margin-top: 20px;
  margin-bottom : 10px;
  padding: 5px;
  border: none;
  border-bottom: 3px solid var(--color-grey);
}

.member-content-article-items {
  display: flex;
  flex-wrap: wrap;
}

.member-content-article-item {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.member-content-article-item-img {
  float: left;
  margin-right: 8px;
  margin-bottom: 5px;
}
.member-content-article-item-img > img {
  width : 125px;
  height : 125px;
}
.member-content-article-item-product {
  font: var(--font-kor);
  margin-bottom: 15px;
}
.member-content-article-item-price {
  font: var(--font-kor);
}
.member-content-article-item-heart {
  font: var(--font-kor);
  margin-top: 5px;
  color: rgb(255, 0, 0);
}
.member-content-article-item-heart > i {
  margin-right: 3px;
}
