@charset "UTF-8";
@import url(member_main.css);
@import url(member_aside.css);

/* aside */
#item_question {
	font-weight :600 !important;
}

.member-content-article-options {
  font: var(--font-kor);
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 80px;
}
.member-content-article-options > select {
  font: var(--font-kor);
  width: 150px;
  height: 30px;
  margin-left: 15px;
  padding-left: 10px;
  -webkit-appearance: none;
  background-color: var(--color-lightgrey);
  border: none;
}
.member-content-article-items {
  border-top: 3px solid var(--color-grey);
  margin-top: 8px;
}
.member-content-article-items-header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--color-grey);
  padding: 24px 0 24px 0;
  margin-bottom: 5px;
}
.member-content-article-items-header-product {
  width: 24%;
  text-align: center;
}
.member-content-article-items-header-type,
.member-content-article-items-header-date,
.member-content-article-items-header-state {
  width: 12%;
  text-align: center;
}
.member-content-article-items-header-subject {
  width: 40%;
  text-align: center;
}
.member-content-article-items-showcase {
  font: var(--font-kor);
  cursor: pointer;
}
.member-content-article-items-showcase-list {
  display: flex;
  /* margin-bottom: 20px; */
  padding: 25px 0 25px 0;
  border-bottom: 1px solid rgb(237, 237, 237);
}
.member-content-article-items-product {
  width: 24%;
  padding-left: 5px;
}
.member-content-article-items-type,
.member-content-article-items-date,
.member-content-article-items-state {
  width: 12%;
  text-align: center;
}
.member-content-article-items-subject {
  width: 40%;
}
/* 문의 상세 내용 */
.member-content-article-items-detail {
  display: none;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  padding: 24px 0 24px 0;
  border-bottom: 1px solid rgb(237, 237, 237);
}
.member-content-article-items-detail-content {
  width: 40%;
}
.blank1 {
  width: 15%;
  height: 21px;
}
.blank2 {
  width: 45%;
  height: 21px;
}
/* 문의 답변 CSS */
.member-content-article-answer_area-items {
  display: none;
  padding-bottom: 10px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid rgb(237, 237, 237);
}

.member-content-article-answer-manager,
.member-content-article-answer-date,
.member-content-article-answer-procedure {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: center;
}
.member-content-article-answer-content {
  width: 55%;
  padding-top: 10px;
}
.show {
	display: flex;
}
