@charset "UTF-8";
@import url("../main.css");
@import url("member_header.css");

/* member-content-section */
.member-content-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px 2px 0 2px;
}

/* 공통 속성 설정 */
.mypage-main-section-wrapper {
  width: 30%;
  height: 300px;
  outline: 2px solid var(--color-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-main-section-title {
  font-size: var(--font-size-h4);
  font-weight: 700;
  margin: 60px;
}
.mypage-main-section-subtitle {
  font-size: var(--font-size-h5);
}

/* 공통 margin-bottom 설정 */
.mypage-margin-bottom {
  margin-bottom: 80px;
}
.mypage-main-section-wrapper:hover {
  cursor: pointer;
}
