@charset "UTF-8";
@import url(member_main.css);
@import url(member_aside.css);

/* aside */
#withdraw {
	font-weight :600 !important;
}
.member-content-article-inputarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member-content-article-inputarea-comment {
  margin-top: 180px;
  font-size: var(--font-size-h5);
}
.member-content-article-inputarea-pw {
  width: 35%;
  height: 50px;
  margin-top: 50px;
  font-size: var(--font-size-h3);
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}
.member-content-article-inputarea-pw:hover,
:focus {
  outline: none;
}
.member-content-article-inputarea-btn {
  margin-top: 80px;
  width: 15%;
  height: 40px;
  background-color: var(--color-grey);
  border: none;
  color: var(--color-white);
  font-weight: bold;
}
.member-content-article-inputarea-btn:hover {
  cursor: pointer;
}
