@import url(css/root.css);
/*-------------------*/

.main-section-wrapper{
   display:flex;
   justify-content: center;
   height:100%;
}

.main-section-container{
    width:350px;
    margin: 20px;
}
.register-form {
    height:600px;
}
.register-main {
    display:flex;
    width:320px;
}
.register-main-text {
    text-align: center;
    font-size: 30px;
    width:315px;
}
.register-contents-wrapper {
    width:300px;
    height:400px;
}
/*체크 부분  */
.fas, 
.fa-check {
    color: var(--color-darkgrey);
}

.register-secondpage-box-wrapper {
    position: relative;
}
.register-secondpage-input-contents {
    height: 290px;
    width:315px;
}
.register-nickname-box{
    padding: 5px;
    list-style:none;
}
.register-nickname-title{
    font-size: 20px;
    font: var(--font-kor);
    margin-top: 15px;
}
.register-nickname-input-wrapper {
    width:390px;
    margin-top: 5px;
}
.result-divs {
    height:10px;
}
.register-nickname-input {
    width: 300px;
    height:30px;
    font: var(--font-kor);
    border: 1.5px solid #dbd8ce;
    border-radius: 2px;
}
.register-nickname-input-button{
    height:33.5px;
    outline: 1px solid #c4c6c5;
    color: #f9f9f9;
    background-color: #97989b;
    border-style: none;
    position: relative;
    bottom:1px;
}
.register-nickname-input-button:hover {
	cursor:pointer;
}
input:focus {
    outline:none;
    box-shadow: 0 0 0 1px #97989b;
}
.register-email-box {
    padding: 5px;
    list-style:none;
}
.register-email-title {
    font-size: 20px;
    font: var(--font-kor);
}
.register-email-input-wrapper {
    margin-top: 5px;
}
.register-email-input {
    width: 300px;
    height:30px;
    font: var(--font-kor);
    border: 1.5px solid #dbd8ce;
    border-radius: 2px;
}
.register-birth-box {
    padding: 5px;
    list-style:none;
}
.register-birth-title {
  	font-size: 20px;
    font: var(--font-kor);
}
.register-birth-input-wrapper {
    margin-top: 5px;
}
.register-birth-input {
    width: 130px;
    height:30px;
    font: var(--font-kor);
    border: 1.5px solid #dbd8ce;
    border-radius: 2px;
}
.register-birth-input-second {
    height:30px;
    width:20px;
    font: var(--font-kor);
    border: 1.5px solid #dbd8ce;
    border-radius: 2px;
}
.register-btn-wrapper {
    margin-bottom: 10px;
}
.register-btn-wrapper-input {
    height:30px;
    width:307px;
    padding: 5px 0 25px 0;
    margin-left:5px;
    background-color: #97989b;
    color: #f9f9f9;
    font: var(--font-kor);
    border: 1.5px solid #dbd8ce;
    border-radius: 2px;
    font-size:25px;
}
.register-btn-wrapper-input:hover {
	cursor:pointer;
}

