@charset "UTF-8";
@import url("css/main.css");
/* 상품리스트 */
.aside-btn-wrapper{
    display:inline;
    position:absolute;
    transition: all 1s;
    left:0%;
    font-size : 25px;
    color:var(--color-black);
}
.list-aside-content{
    color : var(--color-black);
    font-size : 15px;
    padding : 12px 10px;
}
.list-aside-subject {
    font-size : 20px;
    padding : 12px 0;
}
.product-lately-wrapper{
    padding : 30px 0;
}
.product-lately-subject {
    font-size : 20px;
    color:var(--color-black);
}
.product-lately-content-wrapper {
    padding : 30px 0;
    display: flex;
    justify-content: center;

}
.product-lately-content-img {
    position: relative;
    display: flex;
    justify-content: center;
}
.product-lately-img {
    width : 75%;
    object-fit: cover;
}
.product-lately-content {
    position: absolute;
    top : 60%;
    text-align: center;
    color:var(--color-black);
    font-size : 15px;
}
.product-lately-content-price {
    padding : 10px 0;
}
.product-list-wrapper {
    display: flex;
    justify-content: space-between;
}
.product-list-content-wrapper {
    flex-grow : 7;
    
}
.product-list-aside {
    padding-top : 40px;
    flex-grow : 2;
    width : 20%;
    
}
.product-list-content-subject {
    text-align: center;
    font-size : 25px;
    font-weight: 500;
    color:var(--color-black);
}
.product-list-content-list{
    text-align: center;
    font-size:15px;
    color:var(--color-black);
    padding-top : 20px;
}
.list-nav {
    padding : 0px 10px;
    display: inline;
}
.product-list-content-container {
    padding: 100px 20px;
    text-align: center;
    display: grid;
    grid-template-columns:3fr 3fr 3fr;
    row-gap: 100px;
}
.product-list-detail-wrapper{
    position: relative;
    margin:0 auto;
    cursor:pointer;
}
.product-list-img {
    width: 250px;
    vertical-align: middle;
    object-fit: cover;
    transition : all 0.3s;
}
.product-list-img:hover {
    -webkit-filter: opacity(.4) drop-shadow(0 0 0 var(--color-white));
    filter: opacity(.4) drop-shadow(0 0 0 var(--color-white));
}
.product-detail-content{
    top:60%;
    left:50%;
    width:250px;
    position: absolute;
    text-align: center;
    transform: translate( -50%, 0% );
    display: none;
}
.product-detail {
    display: block;
    padding-top : 10px;
}
