@import url(notice_root.css);

/* wrapper */
.notice-content-wrapper {
  display: flex;
  justify-content : center;
  height : 100vh;
}

/* content */
.notice-content-container {
  width: 85%;
}

/* header */
.notice-content-header {
  display: flex;
  justify-content: center;
  padding-top : 100px;
}
.notice-content-header-title {
  width: 60%;
  text-align: center;
  font-size: var(--font-size-h4);
}

/* content */
.notice-content-table-wrapper {
  display: flex;
  flex-direction : column;
  align-items : center;
}
.notice-content-table {
  width: 75%;
  display: flex;
  flex-direction: column;
  border: 1px solid #c8c8c8;
  border-radius : 3px;
  margin-top : 50px;;
}

.notice-content-table-title,
.notice-content-table-writer,
.notice-content-table-etc {
  display: flex;
}
.notice-content-table-date,
.notice-content-table-view {
  display: flex;
}
.th {
  width: 120px;
  float: left;
  padding: 10px 0 8px 20px;
}
.td-title,
.td-writer,
.td-date,
.td-view {
  padding: 10px 0 8px 20px;
}
.td-date {
  width: 150px;
}

.notice-content-table-content {
  padding: 30px 40px 8px 40px;
  min-height : 400px;
}

/* border setting */
.th-title,
.th-writer {
  border-right: 1px solid #e8e8e8;
}
.th-date {
  border-right: 1px solid #e8e8e8;
}
.notice-content-table-title,
.notice-content-table-writer,
.notice-content-table-etc {
  border-bottom: 1px solid #e8e8e8;
}
.td-date,
.th-view {
  border-right: 1px solid #e8e8e8;
}

/* btn */
.notice-content-btn {
	width : 75%;
	display : flex;
	justify-content : flex-end;
	margin-top : 20px;
}
#list_btn {
	padding: 10px 20px 10px 20px;
	background-color : var(--color-white);
	border : 1px solid #b8b8b8;
	border-radius : 3px;
	font : var(--font-kor);
	font-size : 16px;
}