@charset "UTF-8";
@import url("reset.css");
@import url("root.css");

.eng {
    font-family: var(--font-eng);
}
a{
    color:var(--color-black);
}
.kor {
    font-family: var(--font-kor);
}
.container {
    display: flex;
    justify-content: center;
}
.main-content-wrapper{
    width:85%;
    padding: 150px 0;
    position: relative;
}
img {
    transition: all 0.3s;
}
img:hover {
    transform: scale(1.05);
}
